body {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: url("bg1.jpg");
    background-size: cover;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform-style: preserve-3d;
    perspective: 500px;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#add-task-div {
    height: 70px;
    width: 70%;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 1s ease-in-out;
}

#task-container {
    height: 85%;
    width: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    margin-left: 5px;
    list-style: none;
    padding: 0;
}

#task-container::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
}

#task-adder {
    height: 80%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#task-adder input {
    width: 90%;
    height: 70%;
    background-color: transparent;
    border: none;
    font-size: 27px;
    outline: none;
    color: rgb(46, 45, 45);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#task-adder button {
    height: 70%;
    width: 10%;
    background-color: transparent;
    font-size: 35px;
    border: none;
    color: orange;
}

.task-item {
    height: auto;
    margin: 0;
    margin-bottom: 6px;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: rgb(80, 78, 78);
    transition: all 0.5s ease-out;
}

.task-item p {
    position: relative;
    top: -10px;
    margin: 8px;
}

.operations-div button {
    border: none;
    background: transparent;
    font-size: 15px;
    color: grey;
    opacity: 0.8;
}

.operations-div {
    width: 99%;
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 550px) {
    #task-container {
        width: 100%;
        top: 30px;
        height: 500px;
    }

    #add-task-div {
        bottom: 10px;
        width: 100%;
    }

    #add-task-div input {
        padding-left: 10px;
    }
}